@import "./variables.css";
@import "./classes.css";
@import "./globals.css";
@import "./plus-jakarta-sans.css";
@import "./components.css";

body {
  font-family: var(--font-main);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 100px;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  text-decoration: none;
  font-weight: var(--fw-bold);
  letter-spacing: 2px;
  color: var(--dark-blue);
}

.nav-links-flex {
  display: flex;
  align-items: center;
  list-style: none;
}

/* features */
.flex-features {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  padding: 2rem 0;
}

.feature-title {
  font-weight: var(--fw-bolder);
}

.feature-body {
  font-weight: var(--fw-medium);
  font-size: 1.075rem;
}

.flex-features-item {
  background: linear-gradient(45deg, var(--cyan), var(--light-blue));
  color: var(--near-black);
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  text-align: left;
  width: 400px;
  height: 250px;
  cursor: pointer;
  transition: var(--smoother);
}

.flex-features-item:hover {
  width: 475px;
  scale: 1.055;
  opacity: 80%;
}
