@import "./plus-jakarta-sans.css";

:root {
  --font-main: "PlusJakartaSans-Variable";

  --fw-regular: 400;
  --fw-light: 300;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-bolder: 800;
  --fw-extrabold: 900;

  --title: 72px;
  --head-1: 56px;
  --head-2: 48px;
  --head-3: 24px;
  --big: 22px;
  --para: 16px;
  --text: 16px;

  --timing: 60ms ease-in-out;
  --smoother: 350ms cubic-bezier(0.74, 0.01, 0.24, 1);

  --cyan: #07f794;
  --cyan-dk: #02e184;
  --light-blue: #009efa;
  --dark-blue: #008ccc;
  --trans-blue: rgba(0, 158, 250, 0.125);
  --very-dark-blue: #011d2e;
  --light-gray: #b2beb5;
  --dark-gray: #808080;
  --white: #fff;
  --black: #000;
  --hover-gray: #404040;
  --near-black: #101010;
  --light-cyan: #bffbff;
}
